@(message: String)

@registryView.main(message) {
    <section id="top">
        <div class="wrapper">
            <h1>@message</h1>
        </div>
    </section>
    <div id="content" class="wrapper doc">
        <article>
            <h2>Restful services</h2>
            <ol>
                <li><a href="registry/rest/employees">GET rest/employees</a></li>
            </ol>
        </article>
    </div>

}
