@(message: String)

@bonusView.main("Welcome to Play") {

    <h1>@message</h1>
    <h2>List all bonuses</h2>
    <a href="http://localhost:9000/bonus/rest/bonuses?start=0&size=6">GET        /rest/bonuses            controllers.bonus.rest.BonusResource.getBonusTransactionsByCondition(start :Int?=0,size :Int ?=6)</a>
    <h2> Get a specific bonus</h2>
    <a href="http://localhost:9000/bonus/rest/bonuses/2">GET        /rest/bonuses/:id        controllers.bonus.rest.BonusResource.getBonusTransactionById(id:Int)</a>
    <h2> Create a specific bonus</h2>
    <a>POST       /rest/bonuses            controllers.bonus.rest.BonusResource.createBonusTransaction()</a>
    <h2> Delete a specific bonus</h2>
    <a>DELETE     /rest/bonuses/:id        controllers.bonus.rest.BonusResource.deleteBonusTransaction(id:Int)</a>
    <h2> Modify a specific bonus</h2>
    <a>POST       /rest/bonuses/:id        controllers.bonus.rest.BonusResource.modifyBonusTransaction(id:Int)</a>
    <h2> Vote to a specific bonus</h2>
    <a> POST       /rest/bonuses/vote/:id   controllers.bonus.rest.BonusResource.voteBonus(id:Int))</a>

}
